<div class="p-3">
  <h5 class="text-white mb-4">🧑‍ NHÂN VIÊN</h5>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-light" href="/pos">🛒 Bán hàng (POS)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/staff/invoices">📄 Hóa đơn</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/staff/shifts">🕐 Ca làm việc</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/staff/lookup">🔍 Tra cứu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/staff/imports">📦 Nhập kho</a>
    </li>
  </ul>
</div>